etcd:
  container_name: milvus-etcd
  image: quay.io/coreos/etcd:v3.5.5
  environment:
    - ETCD_AUTO_COMPACTION_RETENTION_RENDER_BY_HOUR=1
    - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
    - ETCD_LISTEN_PEER_URLS=http://0.0.0.0:2380
    - ETCD_INITIAL_ADVERTISE_PEER_URLS=http://etcd:2380
    - ETCD_INITIAL_CLUSTER=etcd=http://etcd:2380
    - ETCD_INITIAL_CLUSTER_STATE=new
    - ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-token
    - ETCD_DATA_DIR=/etcd
  volumes:
    - ./data/etcd:/etcd
  healthcheck:
    test: [ "CMD", "etcdctl", "endpoint", "health" ]
    interval: 30s
    timeout: 20s
    retries: 3

minio:
  container_name: milvus-minio
  image: minio/minio:RELEASE.2023-03-20T20-16-18Z
  environment:
    - MINIO_ACCESS_KEY=minioadmin
    - MINIO_SECRET_KEY=minioadmin
  ports:
    - "9001:9001"
    - "9000:9000"
  volumes:
    - ./data/minio:/export
  command: minio server /export --console-address ":9001"
  healthcheck:
    test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
    interval: 30s
    timeout: 20s
    retries: 3

milvus:
  container_name: milvus-standalone
  image: milvusdb/milvus:v2.4.0
  command: [ "milvus", "run", "standalone" ]
  environment:
    - ETCD_ENDPOINTS=etcd:2379
    - MINIO_ADDRESS=minio:9000
  volumes:
    - ./data/milvus:/var/lib/milvus
  ports:
    - "19530:19530"
    - "9091:9091"
  depends_on:
    "etcd":
      condition: service_healthy
    "minio":
      condition: service_healthy
  healthcheck:
    test: [ "CMD", "curl", "-f", "http://localhost:9091/healthz" ]
    interval: 30s
    timeout: 20s
    retries: 3

ollama:
  container_name: ollama
  image: ollama/ollama:latest
  ports:
    - "11434:11434"
  volumes:
    - ./data/ollama:/root/.ollama

ai:
  build:
    context: .
    dockerfile: docker/Dockerfile
  ports:
    - "8000:8000"
  volumes:
    - .:/app
  environment:
    - ENV=local
    - API_URL=http://localhost:8000
    - OLLAMA_BASE_URL=http://ollama:11434
    - MILVUS_URI=http://milvus:19530
  extra_hosts:
    - "host.docker.internal:host-gateway"
  env_file:
    - .env.example
  depends_on:
    milvus:
      condition: service_healthy
    ollama:
      condition: service_started
